<div class="{{theme}}-theme">
  <mat-card class="root">
    <mat-toolbar style="display: flex; justify-content: space-around;">
      

      <mat-slide-toggle [checked]="checkLenguaje" (change)="changeLenguaje()">
        {{'Navbar.changeLenguaje' | translate }}
      </mat-slide-toggle>
      <mat-slide-toggle [checked]="checked" (change)="changeTheme()">
        {{'Navbar.changeTheme' | translate }}
      </mat-slide-toggle>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-card>

</div>